body {
	font-size: 10px;
	margin-right: 0px;
	margin-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
body.Normal
{
	margin-top: 40px;
	margin-bottom: 40px;	
	background-color: #5A646D;
	background-image: url(../img/fond.jpg);
	background-repeat: repeat-x;
}
body.Printable
{
	background-color:White;
	margin-top: 0px;
	
}
.Menu {
	font-size: 10px;
	font-weight: bold;
	color: #E7E7E7;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}
TR.Menu,TABLE.Menu,TD.Menu {
	background-color: #252F3C;
	height: 24px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;	

}
TABLE.SubSection,TR.SubSection
{
	background-color: #CCCDD6;
	padding: 0px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
	height: 24px;
}
TD.SubSection
{
	background-color: #CCCDD6;
    padding-left: 5px;
    font-weight: bold;
}
.SubSection {

	font-size: 10px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

TD.AdminSection
{
	background-color: #FF0000;
}
.AdminSection {

	font-size: 10px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}




TABLE.MainSection,TR.MainSection,TD.MainSection {
	background-color: #252F3C;
	padding: 0px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
	height: 24px;
}
.MainSection {
	font-size: 10px;
	font-weight: bold;
	color: #E7E7E7;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}

TABLE.AdminMenuItem,TR.AdminMenuItem,TD.AdminMenuItem
{
	background-color: #FB9F24;
	padding: 0px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;	
}
.AdminMenuItem {
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}
A.AdminMenuItem {
	color: #FFFFFF;
}
A.AdminMenuItem:hover {
	color: #252F3C;
}
A.Important:hover {
	color: #000000;
}

.HeaderTitreClassement
{
	font-weight:bold;
}
.GroupTitreClassement
{
	font-weight:bold;	
}
.Odd
{
	background-color:white;  
}
.Even
{
	background-color:#F8F8F8 
}




tr,td
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.Aide {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style:italic;
}

.Small,INPUT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
P.Small
{
	margin-top:0px;margin-bottom:10px;
}
.Smallest {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
P.Smallest
{
	margin-top:0px;margin-bottom:10px;
}

TD.Border
{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}
TD.LogoBorder
{
	padding-top:3px;
	padding-left:10px;
	padding-right:10px;
}

p {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}


.Separator {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

tr.AltSection
{
	height: 24px;
}

.AltSection {
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	background-color: #AEAEB6;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
}
A {
	color: #000000;
}
A.Menu {
	color: #E7E7E7;
}
A:hover,A.Menu:hover {
	color: #FB9F24;
}
.MenuSelected {
	color: #FB9F24;
}

.Selected {
	background-color: #FB9F24;
    color: white;
}
A.selected:hover,A.selected:hover {
	color: #252F3C;
}


.PrixActif {

	font-size: 12px;
	font-weight: normal;
	color: #FF9900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.error,.Error {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Warning {

	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Info {

	font-size: 12px;
	font-weight: bold;
	color: #009900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.MainZone
{
	background-color: #F8F8F8;
}
td.MainZone
{
	padding-left:25px;padding-right:25px;padding-top:10px
}


table.SiteMap { background-image:url(../img/etapes_iel.gif);background-repeat:repeat-x;height:96px; }

.SiteMapBigDone { color: #000000; font-size: 45px; font-weight: bold; text-align:center; font-family: Arial; }
.SiteMapBigCurrent { color: #FF9900; font-size: 45px; font-weight: bold; text-align:center; font-family: Arial; }
.SiteMapBigToDo { color: #999999; font-size: 45px; font-weight: bold; text-align:center; font-family: Arial; }
.SiteMapBigDisabled { color: #CCCCCC; font-size: 45px; font-weight: bold; text-align:center; font-family: Arial; }

.SiteMapSmallDone { color: #000000; font-size: 9px; font-weight: bold; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; vertical-align: top; }
.SiteMapSmallCurrent { color: #FF9900; font-weight: bold; font-size: 9px; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; vertical-align: top; }
.SiteMapSmallToDo { color: #999999; font-size: 9px; font-weight: normal; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; vertical-align: top; }
.SiteMapSmallDisabled { color: #CCCCCC; font-size: 9px; font-weight: normal; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; vertical-align: top; }

TR.LigneFormulaire 
{
	height: 20px;
}

TABLE.SectionFormulaire,TR.SectionFormulaire,TD.SectionFormulaire {
	background-color: #777777;
	color: white;	
	padding: 0px;
	margin: 0px;
	font-weight:bold;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
	height: 24px;
}

.Button {
    background-color: #CCCDD6;
    border-style: solid;
    text-align: center;
    color: black;
    border-color: grey;
    display: inline-block;
    border-width: 1px;
    font-weight: bold;
    margin: 2px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    height: auto;
    text-decoration:none;
    border-radius: 5px;
    vertical-align: middle;

}
.Button:hover {
    background-color: grey;
    cursor: pointer;
}

.bold,.Bold,strong
{
	font-weight:bold;
}

.Details,.Prix
{
	color: #FB9F24;
	font-weight:bold;
}



TABLE.SubMenuBar,TR.SubMenuBar
{
	background-color: #CCCDD6;
	padding: 0px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
	height: 24px;
}
TD.SubMenuBar
{
	background-color: #CCCDD6;
	padding-left:5px;
	padding-right:5px;
}
.SubMenuBar {

	font-size: 10px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: bottom;
}

TD.SubMenuItem
{
	background-color: #AEAEB6;
	padding: 0px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
	height: 20px;
	width: 130px;
	text-align: center;
}
.SubMenuItem {
	font-size: 10px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight:bold;
}

TD.SelectedSubMenuItem
{
	background-color: #F8F8F8;
	padding: 0px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
	height: 20px;
	width: 130px;
	text-align: center;
}
.SelectedSubMenuItem {
	font-size: 10px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight:bold;
}



TD.DisabledSubMenuItem
{
	background-color: #AEAEB6;
	padding: 0px;
	margin: 0px;
	border-style:none;
	border:none;
	border-spacing:0px;
	border-width:0px;
	height: 20px;
	width: 130px;
	text-align: center;
}
.DisabledSubMenuItem {
	font-size: 10px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight:bold;
}





TR.PageTitle,TD.PageTitle
{
	padding-left:10px;	
	padding-right:10px;	
	background-color:#F0F0F0;
	border-top-color:#AEAEB6;
	border-top-width:1px;
	border-top-style:solid;
	height:18px;
	font-weight:bold;
	border-bottom-color:#AEAEB6;
	border-bottom-width:1px;
	border-bottom-style:solid;
	vertical-align:middle;
}

TABLE.Admin
{
	background-color:#EEFFEE;
}

.break { page-break-before: always; }

.Legend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}


.Inscrire {
    background-color: #FB9F24;
    border-style: solid;
    text-align: center;
    color: black;
    border-color: grey;
    display: inline-block;
    border-width: 1px;
    margin: 2px;
    padding: 3px;
    height: auto;
    border-radius: 5px;
    text-decoration:none;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;

    vertical-align: middle;

}
.Inscrire:hover {
    background-color: white;
    cursor: pointer;
}


.Textbox
{
	background-color:white;
	border-style:solid;
	border-color:#AAAAAA;
	border-width:1px;
	font-weight:bold;
}
.LabelBig
{
	border-style:dashed;
	border-color:#AAAAAA;
	border-width:1px;

	font-weight:bold;
	font-size:15px;
	font-style:normal;
	width:100%;
}
.TextboxBig
{
	background-color:white;
	border-style:solid;
	border-color:#AAAAAA;
	border-width:1px;
	font-weight:bold;
	font-size:15px;
	width:100%;
}
.TitreChamp
{
	font-style:italic;
	padding-bottom:5px;
}
.Formulaire
{
	border-style:solid;border-color:Black;background-color:#EEEEEE;border-width:1px;width:100%
}
.Sousformulaire
{
	width:100%;
}
.LigneFormulaire td
{
	padding-bottom:2px;	
}
li
{
	list-style-image:url(../img/arrow.gif);
}
.Important {
	font-size: 10px;
	color: #FB9F24;
	font-weight: bold;
}
.Titre {
	font-size: 10px;
	font-weight: bold;
}

div.autocomplete {
  position:relative;
  width:400px;                    
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
  float:left;
  display:block;
  z-index:+1;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #EEEEEE;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;          
  padding:2px;
  height:20px;
  cursor:pointer;
  list-style-image:none;
}

.transfer-basket 
{ 
    background-color:#AABBFF; 
    
}
.already-in-my-basket
{ 
    
    
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotateRight {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

    

}

.borderBottom { border-bottom: black solid 1px; }
.borderTop { border-top: black solid 1px; }
.borderLeft { border-left: black solid 1px; }
.borderRight { border-right: black solid 1px; }
.borderSide { border-top: black solid 1px; border-left: black solid 1px; }
.fullBorder { border: black solid 1px }


/* ============================== REGISTATION STATUS ================================== */
/* Reserve = 0, EnCours = 1, Attente = 2, Validee = 3, Rejetee = 4, Supprimee = 6, FilleAttente = 7, Confirmation = 8 */
.statusAttente  { background-color: #FFFFAA; }
.statusEnCours, .statusBusy { background-color: white; }
.statusValidee, .statusComplete { background-color: #ccffcc; }
.statusRejetee, .statusWarning { background-color: #ffcccc; }
.statusSupprimee, .statusError { background-color: #ff0000; }
.statusFilleAttente { background-color: #6666CC; }
.statusConfirmation { background-color: #99CCCC; }
.statusReserve, .statusCancelled { background-color: gray; }
.statusShop { background-color: moccasin; }
.statusLateRegistration { background-color: aliceblue; }


.ToggleHeader > div { padding-left: 24px; margin-left: 2px;margin-right: 2px;padding-top: 5px;padding-bottom: 5px;background-color: #dddddd;cursor: hand; }
.ToggleHeader:hover > div { background-color: #aaaaaa; }

.ToggleContainer { margin-bottom: 2px; }
.Collapsed { background-image: url(../img/arrow_right.png);background-repeat: no-repeat;background-position:4px 6px ; }
.Toggle { background-image: url(../img/arrow_down.png);background-repeat: no-repeat;background-position:4px 6px ; }

.field-validation-error {
    display: block;
	font-size: 10px;
	color: #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* Jobs. */

.job-status {
    line-height: 16px;
    white-space: nowrap;
}

/* jQuery UI */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px !important; -webkit-border-top-left-radius: 0px !important; -khtml-border-top-left-radius: 0px !important; border-top-left-radius: 0px !important; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px !important; -webkit-border-top-right-radius: 0px !important; -khtml-border-top-right-radius: 0px !important; border-top-right-radius: 0px !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px !important; -webkit-border-bottom-left-radius: 0px !important; -khtml-border-bottom-left-radius: 0px !important; border-bottom-left-radius: 0px !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px !important; -webkit-border-bottom-right-radius: 0px !important; -khtml-border-bottom-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }


.AdminCommand {
    height: 50px;
    
}
.AdminCommand > div
 {
    float: left;
    height: 100%;
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffcccc;
}
.AdminCommand > div > p {
    font-weight: bold;
}

.MailPreview { background-color: azure;margin-left: 20px;padding: 5px;border:black solid 1px }

.FBNotLike,.FBLike,.FBLogged,.FBNotLogged {
    display: none;
}

.LateRegistrationMainZone {
    background-color: aliceblue;
}

.ShopRegistrationMainZone {
    background-color: moccasin;
}

a.button {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #687074;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a.button:hover {
    border: 1px solid black;
    background-color: #014d6e;
}

table.Order td
{
    vertical-align:top;
    padding:5px;        
}

table.Progress td.Index {
    font-size: 20px;
    font-weight: bold;
    padding-right: 7px;
   
}

table.Order
{
    border-collapse:collapse
}

table.Order tr.SubSection, table.Order tr.LigneFormulaire, table.Order td.FirstTotal
{    
    border-top:1px solid #001e53;
}